<link rel="stylesheet" type="text/css" href="/styles/nav.css">

<!--Use <nav> instead of <div> for navbars-->
<nav> <!--nav makes a navigation bar-->
    <ul> <!--ul creates a list-->
        <!--class="selected" shows we're on this page-->
        <li><h2 id="siteTitle">SITE, M8</h1></li>

        <li><a href="/index.html" target="_parent">Home</a></li>
        <!--Using href="#" is the formal way of creating a dead link-->
        <li><a href="/pages/evan.html" target="_parent">E#Placeholder</a></li>
        <li><a href="#">M#Placeholder</a></li>
        <li><a href="#">A#Placeholder</a></li>
        <li><a href="#">J#Placeholder</a></li>
        <li><a href="#">Log Blog</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>


